---
# Configure APT
- name: Generate sources.list
  template :
    src: sources.list.j2
    dest: /etc/apt/sources.list
  notify: update apt


- name: Apt caches
  apt:
    update_cache: yes

- name: Set up the hosts file
  template :
    src: hosts.j2
    dest: /etc/hosts



- name: Reconfigure all dpgk packages
  command: dpkg --configure -a


- name: install essential packages
  apt:
    name: "{{ additional_packages }}"
    state: present


- name: install python packages
  apt:
    name: "{{ python_packages }}"
    state: present


- name: install python PIP packages
  pip:
    name: pexpect
